body {
    padding-top: 50px;
    padding-bottom: 20px;
}

#popup-body {
    padding-top:10px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* override bootstrap styles */

.form-horizontal .control-label {
    text-align: left !important;
    vertical-align: top !important;
}

/* override bootstrap media query, so that forms in iframes format better */
@media (min-width: 720px) {

    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11 {
        float: left;
    }

    .col-md-2 {
        width: 40%;
    }

    .col-md-10 {
        width: 60%;
    }

    .col-md-offset-2 {
        margin-left: 40%;
    }
}

.toppaddding {
    padding-top: 20px;
}

label.longlabel {
    padding-top: 0px !important;
}

.viewlabel {
    width: 30% !important;
}
.viewtext {
    width: 70% !important;
}
.col-text {
    width: 59%;
}
.viewbutton, .viewbutton a, .col-text {
    margin: 4px 0 0 0 !important;
    float: left;
}

.accessdenied {
    text-align: center;
    font-size: 140%;
}
.accessdenied ul {
    list-style: none;
}