@{
    ViewBag.Title = "Reset password confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Your password has been reset.
    </p>
    <p>An Administrator of the system must activate your account before you can login. You will recieve an email when your account can be logged into.</p>
</div>
