@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the new Passwords System</h1>
    <p class="lead">This system replaces the old password system, and features many upgrades, such as; encryption, real-time updates, category grouping, and much more!</p>
    <p>Everything - including the password copy function - is now cross browser compatiable!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Have an account on the old system?</h2>
        <p>
            Just login with the same username and password - your details have been copied over!
        </p>
    </div>
    <div class="col-md-4">
        <h2>All data has been ported over</h2>
        <p>
            Any passwords you had in the old system have already been added to this system. Also you will notice they have been grouped into categories - so they will be easier to find!
        </p>
    </div>

</div>