@using Microsoft.AspNet.Identity;
@using Secure_Password_Repository.Settings;
@model Secure_Password_Repository.Models.Category
<li data-id="@Model.CategoryId">
    <div>
        <i class="glyphicon glyphicon-folder-open rightfolderpadding"></i>@Model.CategoryName<span class="btn-group">
            @if (User.IsInRole("Administrator") && ApplicationSettings.Default.OnlyAdminsCanEditCategories)
            {
                <a href="@Url.Action("Edit", "0")" class="btn btn-xs btn-primary"><i class="glyphicon glyphicon-edit"></i>Edit</a>
            }
            @if (User.IsInRole("Administrator") && ApplicationSettings.Default.OnlyAdminsCanDeleteCategories)
            {
                <a href="@Url.Action("Delete", "0")" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove"></i>Delete</a>
            }
        </span>
    </div>
</li>