@model Secure_Password_Repository.ViewModels.PasswordAdd

<li id="addnew-password-@Model.Parent_CategoryId" class="treeignore addpassworditem">
    <div class="ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons first" role="tab" id="ui-id-8" aria-selected="false" aria-expanded="false" tabindex="-1">
        <span class="ui-accordion-header-icon ui-icon"></span><span class="btn-group">
            <a class="btn btn-xs btn-primary magnificbutton" href="@Url.Action("AddPassword", new { ParentCategoryId = @Model.Parent_CategoryId })">
                <i class="glyphicon glyphicon-plus-sign">&nbsp;</i>Create New Password
            </a>
        </span>
    </div>
</li>

