@model Secure_Password_Repository.Models.Category

<li class="treeignore" id="addnew-@Model.Category_ParentID">
    <div class="ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons ui-sortable-handle first">
        <span class="ui-accordion-header-icon ui-icon treeviewicon treeviewplus"></span>
        <span class="btn-group"><a href="#" onclick="displayForm(\'addnew-[2]\'); return false;" class="btn btn-xs btn-primary"><i class="glyphicon glyphicon-plus-sign">&nbsp;</i>Create New Category</a></span>
    </div>
    <div class="ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons ui-sortable-handle second" style="display: none;">
        <span class="ui-accordion-header-icon ui-icon treeviewicon treeviewplus"></span>
        <i class="glyphicon glyphicon-folder-open rightfolderpadding"></i>
        @using (Html.BeginForm("AddCategory", "Password", FormMethod.Post, new { @class = "newcategoryform", role = "form", id = "[1]" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Category_ParentID)
            @Html.TextBoxFor(m => m.CategoryName, new { Value = "" })
            <span class="btn-group groupalign"><a href="#" onclick="submitAjaxForm(\'#[2]\');return false;" class="btn btn-xs btn-primary"><i class="glyphicon glyphicon-save">&nbsp;</i>Save</a></span>
        }
    </div>
</li>