<li class="treeignore" id="addnew-[1]"> \
    <div class="ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons ui-sortable-handle"> \
        <span class="ui-accordion-header-icon ui-icon treeviewicon treeviewplus"></span> \
        <span class="btn-group"><a href="#" onclick="createNewCategory(\'#addnew-[2]\'); return false;" class="btn btn-xs btn-primary"><i class="glyphicon glyphicon-plus-sign">&nbsp;</i>Create New Category</a></span> \
    </div> \
</li>