@model Secure_Password_Repository.Models.Category

<div><i class="glyphicon glyphicon-folder-open rightfolderpadding"></i> \
    @using (Ajax.BeginForm("AddCategory", "Password", new AjaxOptions { HttpMethod="post", OnFailure="" }, new { @class="newcategoryform", role = "form", id="[1]" })) 
    { 
        @: \
        @Html.AntiForgeryToken() @: \
        @Html.HiddenFor(m => m.Category_ParentID, new { Value = "[3]" }) @: \
        @Html.TextBoxFor(m => m.CategoryName, new { Value = "" }) @: \
        @: <span class="btn-group groupalign"><a href="#" onclick="saveNewCategory(\'#[2]\');return false;" class="btn btn-xs btn-primary"><i class="glyphicon glyphicon-save"></i>Save</a></span>  \
    }</div>