@using Secure_Password_Repository.Settings;
@using Secure_Password_Repository.ViewModels;
@model Secure_Password_Repository.ViewModels.PasswordItem

<li class="treelistitem" id="@Model.Parent_CategoryId" data-type="Password">
    <div class="ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons ui-sortable-handle first">
        <span class="clickable">
            <span class="ui-accordion-header-icon ui-icon treeviewicon treeviewplus"></span>
            <i class="glyphicon glyphicon-folder-open rightfolderpadding"></i><span class="categoryname">@Model.Description</span>
        </span>
        <span class="btn-group">
            @if (ApplicationSettings.Default.RoleAllowEditCategories != "None" && (User.IsInRole(ApplicationSettings.Default.RoleAllowEditCategories) || User.IsInRole("Administator")))
            {
                <a href="#" class="btn btn-xs btn-primary" onclick="displayForm('@Model.PasswordId');return false;"><i class="glyphicon glyphicon-edit">&nbsp;</i>Edit</a>
            }
            @if (ApplicationSettings.Default.RoleAllowDeleteCategories != "None" && (User.IsInRole(ApplicationSettings.Default.RoleAllowDeleteCategories) || User.IsInRole("Administator")))
            {
                <a href="#" class="btn btn-xs btn-danger" onclick="deleteCategory('@Model.PasswordId');return false;"><i class="glyphicon glyphicon-remove">&nbsp;</i>Delete</a>
            }
        </span>
    </div>
    @if (ApplicationSettings.Default.RoleAllowEditCategories != "None" && (User.IsInRole(ApplicationSettings.Default.RoleAllowEditCategories) || User.IsInRole("Administator")))
    {
        
    }
</li>


