@model Secure_Password_Repository.ViewModels.PasswordDetails
@{
    ViewBag.Title = "ViewPassword";
    Layout = "~/Views/Shared/_PasswordLayout.cshtml";
}

<h2>ViewPassword</h2>

<div id="tabbedpanelcontainer" class="edit-panels clearself">
    <article class="first">
        <h2>Details</h2>
        <p>This is the base product information, not all of the fields below are required. Once a product has been created, you will then have the ability to create variations &amp; prices.</p>
    </article>
    <article>
        <h2>Edit</h2>
        <p>Below you can add your variations and prices, this for products which have mulitple sizes/colours/options. Each variation created will represent a single size/colour/option for the product.</p>
    </article>
    <article>
        <h2>Permissions</h2>
        <p>Below you can add your variations and prices, this for products which have mulitple sizes/colours/options. Each variation created will represent a single size/colour/option for the product.</p>
    </article>
</div>


