
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_ViewStart.cshtml";
}

<h2>System Administration</h2>

<ul>
    <li><a href="">Undo Deleted Items</a></li>
    <li><a href="@Url.Action("SystemSettings", "SystemAdministration", new { })">System Settings</a></li>
</ul>

